body {
    background-color: lightgray;
    padding-bottom: 100px;
}

#resultadoTopicos{
    display:none; /*No es visible por defecto*/
}

#cargandoTopicos{
    display:none; /*No es visible por defecto*/
}

#divListaMensajes {
    display: none
} 